<%= render :partial => "partials/metas", :locals => { :params => params } %>
<%= form_tag({:controller => "feeds", :action => "search"}, :method => "get", :class => "fullsize-form") do |f| %>
	<%= text_field_tag :request, params[:request], placeholder: "Search people or tag!" %>
	<button type="submit" class="btn">Search</button>
<% end %>
<% if(@feeds["data"]["count"] == 0 && @tags["data"].length == 0) %>
	<h3>Sorry, no tags or users matching "<%= params[:request] %>"</h3>
<% else %>
	<% if(@tags["data"].length > 0) %>
		<h3><%= @tags["data"]["count"] %> tags matching "<%= link_to params[:request], tag_path(:tag => params[:request]) %>" found:</h3>
		<div id="search_results_tags" rel="<%= @tags["data"]["count"] %>">
			<div class="loader"></div>
			<%= render :partial => "partials/search_tags", :locals => {:tags => @tags} %>
			<% if(@tags["data"]["count"] > session[:size].to_i) %>
				<%= link_to search_path(:request => params[:request], :type => "tags"), :rel => '2', :class => "btn btn-primary search_more_content", :data => {'type' => 'tags'} do %>
					<i class="icon-plus"></i>&nbsp;&nbsp;&nbsp;Search more tags
				<% end %>
			<% end %>
		</div>
	<% end %>
	<% if(@feeds["data"]["count"] > 0) %>
		<h3><%= @feeds["data"]["count"] %> users matching "<%= params[:request] %>" found:</h3>
		<ul class="search feeds_list" rel="<%= @feeds["data"]["count"] %>">
			<div class="loader"></div>
			<%= render :partial => "partials/search_users", :locals => {:users => @feeds} %>
			<li class="clear"></li>
			<% if(@feeds["data"]["count"] > session[:size].to_i) %>
				<%= link_to search_path(:request => params[:request], :type => "users"), :rel => '2', :class => "btn btn-primary search_more_content", :data => {'type' => 'users'} do %>
					<i class="icon-plus"></i>&nbsp;&nbsp;&nbsp;Search more users
				<% end %>
			<% end %>
		</ul>
	<% end %>
<% end %>