<% metas["data"]["records"].each.with_index do |comment, index| %>
	<li class="clearfix">
		<div class="left">
		<%= link_to user_path(:user => comment["userId"], :username => comment["username"]) do %>
			<%= image_tag "#{comment["avatarUrl"]}", {alt:comment["username"], :height => 60, :width => 60} %>
		<% end %>
		</div>
		<div class="left comment_cont">
			<p class="username">
				<%= link_to user_path(:user => comment["userId"], :username => comment["username"]) do %>
					<%= comment["username"] %>
				<% end %>
			</p>
			<p class="comment">
				<%= comment["comment"] %>
			</p>
		</div>
	</li>
<% end %>
<% if metas["data"]["nextPage"] != nil %>
	<%= link_to metas_more_path(:type => "comments", :post => post, :page => metas["data"]["nextPage"]), :class => 'btn btn-primary search_more_metas' do %>
		<i class="icon-plus"></i>&nbsp;&nbsp;&nbsp;More comments
	<% end %>
<% end %>
