<% metas["data"]["records"].each.with_index do |comment, index| %>
	<li class="left content">
		<div class="left">
			<%= link_to user_path(:user => comment["userId"], :username => comment["username"]) do %>
				<span><%= comment["username"] %></span>
				<%= image_tag "#{comment["avatarUrl"]}", {alt:comment["username"], :height => 90, :width => 90} %>
			<% end %>
		</div>
		<div class="left well comment_content">
			<i class="icon-quote-left"></i>
				<p><%= comment["comment"] %></p>
			<i class="icon-quote-right"></i>
		</div>
		<div class="clear"></div>
	</li>
<% end %>
<li class="clear"></li>
<li class="left previous_page">
	<% if metas['data']['previousPage'] != nil %>
		<%= link_to metas_more_path(:post => params[:post], :page => metas['data']['previousPage']), :class => 'right btn btn-primary' do %>
			<i class="icon-caret-left"></i>&nbsp;&nbsp;&nbsp;Previous page
		<% end %>
	<% end %>
</li>
<li class="right next_page">
	<% if metas['data']['nextPage'] != nil %>
		<%= link_to metas_more_path(:post => params[:post], :page => metas['data']['nextPage']), :class => 'right btn btn-primary' do %>
			Next page&nbsp;&nbsp;&nbsp;<i class="icon-caret-right"></i>
		<% end %>
	<% end %>
</li>
