<% feeds["data"]["records"].each.with_index do |feed, index| %>
	<li>
		<div class="well user_infos">
			<%= image_tag "#{feed["avatarUrl"]}", {alt:feed["username"], :height => 30, :width => 30} %>
			<%= link_to feed["username"], user_path(:user => feed["userId"], :username => feed["username"]), :class => "username" %>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= feed["shareUrl"] %>" data-via="" data-lang="en" data-text="<%= feed["username"] %>'s post on Vine" data-related="" data-count="horizontal">Tweet</a>
		</div>
		<div class="feed_infos">
			<div class="feed_thumbnail left">
				<% if feed["postId"] %>
					<%= link_to post_path(:username => feed["username"], :post => feed["postId"]), :class => 'open-video-popup' do %>
						<%= image_tag "#{feed["thumbnailUrl"]}", {alt:feed["postId"], :height => 110, :width => 110} %>
					<% end %>
				<% end %>
			</div>
			<div class="description_cont left span10">
				<% if check_description_exists(feed["description"]) %>
					<h2>
						<%= link_to feed["description"], post_path(:username => feed["username"], :post => feed["postId"]), :class => 'open-video-popup-alt' %>
					</h2>
				<% end %>
				<p>
					<% if check_from_exists(feed["location"]) %>
						<i>from <%= feed["location"] %>,</i>
					<% end %>
					<i><%= format_date(feed["created"]) %> ago</i>
				</p>
			</div>
			<div class="clear"></div>
			<div class="feed_metas">
				<p class="post_metas_cont left">
					<% if feed["comments"] %>
						<span class="post_metas">
							<strong><%= format_large_number(feed["comments"]["count"]) %></strong> <i class="icon-comments-alt"></i>
						</span>
					<% end %>
					<% if feed["likes"] %>
						<span class="post_metas">
							<strong><%= format_large_number(feed["likes"]["count"]) %></strong> <i class="icon-heart-empty"></i>
						</span>
					<% end %>
				</p>
				<p class="feed_tags_cont left span10">
					<% feed["entities"].each.with_index do |entity, index| %>
						<% if entity["type"] == "tag" %>
							<% active = params[:tag] && params[:tag] == entity["title"] ? 'current' : '' %>
							<%= link_to "#"+entity["title"], tag_path(:tag => entity["title"]), :class => "tag btn btn-small "+ active %>
						<% end %>
					<% end %>
				</p>
				<div class="clear"></div>
			</div>
		</div>
	</li>
<% end %>