<%= nav_bar :fixed => :top, :brand => "citivine.co", :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "Popular", list_path(:type => :popular) %>
        <%= menu_item "Promoted", list_path(:type => :promoted) %>
        <%= drop_down "Channels" do %>
            <% @channels.each.with_index do |channel, index| %>
                <% proper_channel = channel.gsub("&", "And").gsub(" ", "") %>
                <%= menu_item list_path(:type => :channels, :id => index+1, :subtype => "recent") do %>
                    <% if index+1 != 15 %>
                        <%= image_tag "//d3422saexnbpnl.cloudfront.net/static/images/channels/"+proper_channel+".svg", {alt:"", :height => 20, :width => 20} %> 
                        <%= channel %>
                    <% else %>
                        <%= "Wierd!" %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
        <%= drop_down "Tags" do %>
            <% @trending_tags.each do |tag| %>
                <%= menu_item tag, tag_path(:tag => tag.strip[1..tag.strip.length-1]) %>
            <% end %>
        <% end %>
    <% end %>
    <%= menu_group :pull => :right do %>
        <%= menu_item do %>
            <i class="display_settings icon-cog"></i> 
        <% end %>
        <li>
            <ul id="settings_dropdown" class="dropdown-menu" style="display:none">
                <li class="content">Number of items per page :</li>
                <li class="content page">
                    <% Citivine::Application::config.vine_count_items_options.each.with_index do |count, index| %>
                        <% active_class = session[:size].to_i == count.to_i ? 'disabled' : '' %>
                        <%= link_to count, change_session_size_path(:size => count), :class => active_class+' btn btn-primary btn-small set_size' %>
                    <% end %>
                </li>
                <li class="divider"></li>
                <li class="content page">
                    <label class="checkbox">
                        <% is_checked = session[:autoload] == '1' ? 'checked' : '' %>
                        <input type="checkbox" <%= is_checked %> class="set_autoload" value="true">
                    Automatically load next page
                    </label>
                </li>
                <li class="divider"></li>
                <li class="content page">
                    <label class="checkbox">
                        <% is_checked = session[:autoplay] == '1' ? 'checked' : '' %>
                        <input type="checkbox" <%= is_checked %> class="set_autoplay" value="true">
                    Autoplay videos
                    </label>
                </li>
                <li class="divider"></li>
                <li class="content">Volume : <span id="amount"><%= session[:volume] %></span></li>
                <li class="content page">
                    <div id="slider"></div>
                </li>
            </ul>
        </li>
    <% end %>
    <%= menu_group :pull => :right do %>
    	<%= form_tag({:controller => "feeds", :action => "search"}, :method => "get", :class => "navbar-form") do %>
	  		<%= text_field_tag :request, nil, placeholder: "Search people or tag!" %>
		<% end %>
    <% end %>
<% end %>
<script type="text/javascript">
    var autoload = <%= session[:autoload] %>;
    var autoplay = <%= session[:autoplay] %>;
    var volume = <%= session[:volume] %>/10;
</script>