<%= render :partial => "partials/metas", :locals => { :params => params } %>
<%= render :partial => "partials/single_page_sidebar", :locals => {:active => "about"} %>
<h2>About</h2>
<hr class="single_page span7"/>
<div class="single_page left about_content span7">
	<p>The source code is available on <%= link_to "GitHub", "//github.com/guillaumer/citivine",:target => "blank" %>.</p>
	<h3>How it works?</h3>
	<p>Citivine gathers all feeds in real-time from the (non-official) Vine API, also used in the (offcial) iPhone and Android app. You may find some detailed informations on how the API works on various blogs and GitHub repos, such as:</p>
	<ul>
		<li><%= link_to "http://khakimov.com/blog/2013/03/12/vines-undocumented-api/", "http://khakimov.com/blog/2013/03/12/vines-undocumented-api/",:target => "blank" %></li>
		<li><%= link_to "https://github.com/starlock/vino/wiki/API-Reference", "https://github.com/starlock/vino/wiki/API-Reference", :target => "blank" %></li>
		<li><%= link_to "https://github.com/search?q=api.vineapp.com&type=Code", "https://github.com/search?q=api.vineapp.com&type=Code", :target => "blank" %></li>
	</ul>
	<p>However, some of these infos are deprecated as Vine is rapidly evolving. In addition to the provided links, here is what I'm also using for pulling datas:</p>
	<ul>
		<li>
			<%= link_to "https://vine.co/explore", "https://vine.co/explore", :target => "blank" %> and the newly added <%= link_to "https://vine.co/explore/v2", "https://vine.co/explore/v2", :target => "blank" %> are the webpages shown in the <i>Explore</i> section of the mobile app.
		</li>
		<li>
			https://api.vineapp.com/timelines/posts/post_id is the endpoint for retrieving a single post (recently added, yay!).
		</li>
		<li>
			<i>https://api.vineapp.com/posts/post_id/comments</i> and <i>https://api.vineapp.com/posts/post_id/likes</i> for respectively getting the comments and likes associated to a Vine video (post).
		</li>
		<li>
			The <i>page</i> and <i>size</i> parameters can be appended to every API URLs, although I wouldn't advise setting the <i>size</i> too high for obvious load issues.
		</li>
	</ul>
	<h3>Disclaimer</h3>
	<p>Citivine is in no way affiliated or related to Vine (<%= link_to "Vine Labs, Inc", "https://vine.co/", :target => "blank" %>) nor Twitter. All data and informations displayed on this site fall under the Vine privacy policy and terms of service. Content is also not moderated, although Vine has lately been working hard on this. Some is still not appropriated and should not be viewed by younglings.</p>
	<h3>I want to delete my profile</h3>
	<p>All the informations displayed here are issued from the Vine mobile application. You should then consider deleting your account by contacting <%= link_to "Vine", "http://www.vineapp.com/contact", :target => "blank" %>.</p>
	<h3>Suggestions</h3>
	<p>Feel free to <%= link_to "contact me", contact_path() %> if you have any questions, suggestions or technical information to provide.</p>
</div>
<div class="clear"></div>