<%= render :partial => "partials/metas", :locals => { :params => params } %>
<%= render :partial => "partials/single_page_sidebar", :locals => {:active => "contact"} %>
<h2>Contact</h2>
<hr class="single_page span7"/>
<div class="single_page left contact_content">
	<h3>Direct message</h3>
	<% if flash[:alert] %>
		<div class="alert alert-error">
        	<strong>Error:</strong> <%= flash[:alert] %>
      	</div>
	<% end %>
	<% if notice %>
		<div class="alert alert-success">
        	<%= notice %>
      	</div>
	<% end %>
	<%= form_for @message, :url => contact_send_path, method: "post", id: "contact_form" do |form| %>
	  <%= form.label :email, "Email" %>
	  <%= form.text_field :email %>
	  <%= form.submit "Send!", :class => 'btn btn-success' %>
	  <%= form.label :body, "Message" %>
	  <%= form.text_area :body %>
	<% end %>
</div>
<div class="clear"></div>