<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Citivine</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= csrf_meta_tags %>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-45071392-2']);
		  _gaq.push(['_setDomainName', 'citivine.co']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<%= render :partial => "partials/nav" %>
		<div id="main" class="container">
			<div id="content">
				<%= yield %>
			</div>
	 	</div>
	 	<%= render :partial => "partials/footer" %>
	 	<%= javascript_include_tag "application" %>
		<script type="text/javascript">
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
	</body>
</html>
